.site-content {
    margin: 10px 0;
}

.content-header {
    position: relative;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    height: 106px;
}

.content-header > div {
    float: left;
    width: 30%;
    height: 75px;
    margin: 15px 0;
}

.content-header > div.investment_reward {
    position: relative;
    width: 39%;
    border-left: 1px solid #e1e1e1;
}

.content-header #investmentReward {
    color: #f28a10;
}

.content-header p {
    margin-left: 30px;
}

.content-header p.first-child {
    font-size: 18px;
    color: #969696;
    margin-top: 15px;
}

.content-header p.last-child {
    font-size: 24px;
    color: #646464;
    line-height: 1.5em;
}

.investment_reward a {
    position: absolute;
    display: inline-block;
    right: 30px;
    top: 15px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #24a9f6;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.content-remark {
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    color: #969696;
}

.content-tab {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    min-height: 654px;
}

.content-tab .tab {
    background-color: #fafafa;
    line-height: 59px;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
}

.content-tab .tab a {
    float: left;
    display: inline-block;
    width: 132px;
    font-size: 16px;
    color: #323232;
    text-align: center;
    cursor: pointer;
}

.content-tab .tab a.active {
    background-color: #fff;
    color: #24a9f6;
    border-top: 2px solid #24a9f6;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

.content-tab .tab-child {
    height: 54px;
    line-height: 54px;
    margin: 0 30px;
}

.content-tab .tab-child a {
    float: left;
    display: inline-block;
    width: 105px;
    height: 26px;
    line-height: 26px;
    margin: 14px 0;
    color: #969696;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.content-tab .tab-child a.active {
    background-color: #24a9f6;
    color: #fff;
}

.content-table table {
    margin: 0 30px;
    border: 1px solid #e1e1e1;
    /*	min-height: 400px;*/
    width: 868px;
}

.content-table th {
    background-color: #edf0f3;
    line-height: 40px;
    height: 40px;
    width: 124px;
    color: #646464;
    font-size: 14px;
    font-weight: 400;
}

.content-table tr {
    height: 40px;
    text-align: center;
}

.content-tab #investmentDetial {
    line-height: 14px;
    height: 14px;
}

.content-table td.no-data img {
    width: 80px;
}

.content-table td.no-data p {
    font-size: 16px;
    margin-top: 20px;
    color: #c8c8c8;
}

.no-data {
    padding: 150px 0;
}

.content-page {
    padding: 30px 0;
    overflow: hidden;
}



