.right-content .wrapper {
    border-bottom: 1px solid #dcdcdc !important;
}

.right-content h2 {
    border-bottom: 1px solid #dcdcdc;
}

.right-content h3 {
    padding-left: 12px;
    padding-top: 22px;
    font-size: 18px;
    color: #646464;
}

.right-content p {
    padding: 27px 12px 0 12px;
    line-height: 24px;
    color: #969696;
}

.right-content p.first {
    padding-top: 12px;
}