.form ul {
    padding-top: 28px;
    color: #323232;
}

.form ul li {
    padding-top: 12px;
}

.row label {
    float: left;
    width: 43%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #323232;
}

.row input {
    float: left;
    width: 95%;
    height: 28px;
    padding-left: 5%;
}
.inputWrapper{
    float: left;
    width: 38%;
    height: 30px;
    border:1px solid #dcdcdc;
}

.row > span {
    float: left;
    padding-right: 20px;
    height: 30px;
    line-height: 30px;
}

.row > button {
    float: left;
    margin-top: 3px;
    border: 1px solid #12a2f5;
    border-radius: 5px;
    width: 100px;
    height: 24px;
    line-height: 24px;
    background-color: #fff;
    color: #12a2f5;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.button {
    width: 160px;
    height: 40px;
    background-color: #12a2f5;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin-left: 43%;
    cursor: pointer;
    border-radius: 5px;
}

.button a {
    display: block;
    color: #fff;
}